<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
  <h1>Cadastro</h1>
  <br>
  <div ng-app="myApp" ng-controller="myCtrl">
<form>
  User: <input type="user" maxlength="36" ng-model="user"><br><br>

  Nome completo: <input type="nome" maxlength="36" ng-model="nome"><br><br>

  Nickname: <input type="nickname" maxlength="36" ng-model="nickname"><br><br>

  Senha: <input type="password" maxlength="36" ng-model="password"><br><br>
  <button ng-click="insertUser()">Cadastre-se</button> &nbsp;
</form>
<br><br>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {

        $scope.insertUser = function() {
            var url = "/users";
            if ($scope.user == undefined ||
                $scope.nome == undefined ||
                $scope.password == undefined ||
                $scope.nickname == undefined) {
                
                alert("Preencha todos os campos!");
                
                return;
            }
            var data = {"user": $scope.user,
                        "nome": $scope.nome,
                        "password": $scope.password,
                        "nickname": $scope.nickname};
            var request = $http({"method": "post",
                                 "url": "http://localhost:3000/users",
                                 "data": data});
            request.success(function(reply) {
              window.location.replace('http://localhost:3000/login')
              console.log(reply)

            }
            );
            request.error(function(reply) {
              console.log(reply)
              alert("Usuario ja cadastrado");
            }
            );
        }
    }
    );
</script>

</body>
</html>
