<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 
<h1> Assuntos</h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
	<th class="tg-0lax"><h3>Assunto</h3></th>
	<th class="tg-0lax"><h3>Numero de posts</h3></th>
  </tr>
  <tr ng-repeat="x in assuntos">
    <th class="tg-0lax"><a href="/assuntos/{{x.id}}">{{x.nome}}</a></th>
    <th class="tg-0lax">{{x.nDePosts}}</th>
  </tr>
</table>

<br><br>
<input type="text" placeholder="Coloque o assunto" maxlength="36" ng-model="assunto">
<button ng-click="addAssunto()">Criar novo assunto !</button>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("/users")
    .then(function (response) {$scope.assuntos = response.data.assuntos;});

    $scope.addAssunto = function(){
      var url = "http://localhost:3000/assuntos";
      var data = {
        "assunto" : $scope.assunto
      }
      var request = $https({
        "method":"post",
        "url":url,
        "data":data
      })
      request.success(function(reply){
        window.location.reload()
      });
      request.error(function(reply){
        alert("Deu ruim na insercao no DB")
      })
      
    }
});
</script>

</body>
</html>
